---
import Layout from "@/layouts/Layout.astro";
const posts = await Astro.glob("./*.md");
import { showDate } from "@/utils";
---

<Layout pageTitle="ブログ記事一覧">
  <article>
    <h1 class="h1">ブログ記事一覧</h1>
    <ol class="list-disc pl-4">
      {
        posts
          .sort(
            (a, b) =>
              (a.frontmatter.date
                ? new Date(b.frontmatter.date).getTime()
                : 0) -
              (b.frontmatter.date ? new Date(a.frontmatter.date).getTime() : 0),
          )
          .map((v) => (
            <li>
              <a href={v.url}>{v.frontmatter.title}</a>
              {v.frontmatter.date ? (
                <span> &mdash; {showDate(v.frontmatter.date)}</span>
              ) : null}
            </li>
          ))
      }
    </ol>
  </article>
</Layout>
