---
import Layout from "@/layouts/Layout.astro";
---

<Layout pageTitle="出版物">
  <article>
    <h1>出版物</h1>
    <p>本ページでは、学園生活研究部として発行した出版物を紹介します。</p>
    <section>
      <h2>
        <a
          href="https://techbookfest.org/product/z9zCtNAJrigmuu3Jz9VDi?productVariantID=iMxgceXmQkk0T9d3cPskCP"
          target="_blank">Rustで作る！自作言語・コンパイラ入門</a
        >
      </h2>
      <h3>初出</h3>
      <p>
        <a href="https://techbookfest.org/event/tbf15" target="_blank"
          >技術書典15</a
        >
      </p>
      <h3>概要</h3>
      <p>
        Rustで自作言語とコンパイラを作るために必要な知識と実装手法を初心者向けに簡単に説明することを試みました。
        パーサコンビネータやLLVM関連のライブラリを利用し、Rustで自作言語やコンパイラ作りをやっていきます。
      </p>
      <h3>説明</h3>
      <p>
        技術書典15にて発行した、学園生活研究部として初の同人誌です。
        自作言語とそのコンパイラを作るために必要な知識や実装手法について解説しています。
      </p>
    </section>
    <section>
      <h2 id="rust-inference-yew">
        <a
          href="https://techbookfest.org/product/2nw6DbCfrSpgXfVmxy7zgU"
          target="_blank">学園生活研究部 Rust合同 型推論&amp;Yewマクロ</a
        >
      </h2>
      <h3>初出</h3>
      <p>
        <a href="https://techbookfest.org/event/tbf16" target="_blank"
          >技術書典16</a
        >
      </p>
      <h3>概要</h3>
      <p>
        Rust合同誌として、2本立てでお送りします。
        第1章ではcordx56が型推論について論文をもとに解説し、さらにRustサブセットに対して型推論器の実装を行います。
        第2章ではyank.nvimがRustのYewクレートのHTMLマクロについて、ソースコードを交えて丁寧に解説します。
      </p>
    </section>
  </article>
</Layout>
