---
import Layout from "@/layouts/Layout.astro";
---

<Layout pageTitle="私たちについて">
  <article>
    <img src="/logo.svg" class="w-full md:w-4/5 block mx-auto" />
    <h1>私たちについて</h1>
    <p>学園生活研究部は、ソフトウェアを中心とした技術系同人サークルです。</p>
    <section>
      <h2>メンバー</h2>
      <p>現状一人です。</p>
      <ul>
        <li>
          <p class="text-lg">cordx56</p>
          <p>
            自称桃色魔法少女。博士課程学生。専門はプログラミング言語。
            趣味として自然言語処理や簡単な電子工作・組み込み開発も行う。
            業務では主にWeb関連技術を扱うことが多い。
          </p>
        </li>
      </ul>
      <h3>ゲスト</h3>
      <p>ゲストとして活動に参加していただいた方を紹介します。</p>
      <ul>
        <li>
          <p class="text-lg">yank.nvim</p>
          <p>
						高校生。Rustや関数型言語などを趣味で書いています。
						低レイヤーとNeovimが好きです。
					</p>
        </li>
      </ul>
    </section>
  </article>
</Layout>
