---
import Layout from "@/layouts/Layout.astro";
import Archive from "@/components/Archive.astro";
const posts = await Astro.glob("./*.md");
---

<Layout pageTitle="おしらせ">
  <article>
    <h1>おしらせ一覧</h1>
    <Archive posts={posts} />
  </article>
</Layout>
