---
import { siteTitle } from "@/consts";
---

<header class="mb-4">
  <div class="container flex justify-between p-2">
    <h1 class="text-3xl">{siteTitle}</h1>
    <nav class="text-xl flex items-center">
      <ul class="flex">
        <li>告知</li>
        <li>出版物</li>
      </ul>
    </nav>
  </div>
</header>
<style>
  li {
    @apply mx-3;
  }
</style>
