---
import { siteTitle } from "@/consts";

import Icon from "@/components/Icon.astro";
import { faBars, faXmark } from "@fortawesome/free-solid-svg-icons";
---

<header>
  <div class="container relative flex justify-between items-center p-2">
    <h1 class="text-3xl"><a href="/">{siteTitle}</a></h1>
    <nav id="nav">
      <div id="nav-toggle" class="flex sm:hidden items-center">
        <span class="open-icon">
          <Icon icon={faBars} />
        </span>
        <span class="close-icon">
          <Icon icon={faXmark} />
        </span>
      </div>
      <ul>
        <li><a href="/news">おしらせ</a></li>
        <li><a href="/pubs">出版物</a></li>
        <li><a href="/posts">ブログ</a></li>
      </ul>
    </nav>
  </div>
</header>
<script>
  const navToggle = document.getElementById("nav-toggle");
  navToggle?.addEventListener("click", () => {
    const nav = document.getElementById("nav");
    nav?.classList.toggle("open");
  });
</script>
<style>
  #nav {
    @apply text-xl;
  }
  #nav ul {
    @apply absolute right-0 top-full hidden bg items-center justify-end sm:justify-normal border-l border-b border-zinc-300;
  }
  #nav.open ul {
    @apply flex flex-col;
  }
  #nav .close-icon {
    @apply hidden;
  }
  #nav.open .close-icon {
    @apply block;
  }
  #nav.open .open-icon {
    @apply hidden;
  }
  @media screen(sm) {
    #nav ul,
    #nav.open ul {
      @apply static right-auto top-auto flex flex-row border-0 bg-transparent;
    }
  }
  #nav li {
    @apply mx-3 p-2;
  }
</style>
