---
import { siteTitle } from "@/consts";
type Props = {
  pageTitle?: string;
};

const { pageTitle }: Props = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="学園生活研究部のサイト" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  {
    pageTitle ? (
      <title>
        {pageTitle} &mdash; {siteTitle}
      </title>
    ) : (
      <title>{siteTitle}</title>
    )
  }
</head>
